[Unit]
Description=Gunicorn instance to serve Flask
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/pomodoro
Environment="PATH=/home/ubuntu/pomodoro/venv/bin"
ExecStart=/home/ubuntu/pomodoro/venv/bin/gunicorn --bind 0.0.0.0:8000 wsgi:app
[Install]
WantedBy=multi-user.target
