[Unit]
Description=Gunicorn instance to serve Flask
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/calculator
Environment="PATH=/home/ubuntu/calculator/ansible_env/bin"
ExecStart=/home/ubuntu/calculator/ansible_env/bin/gunicorn --bind 0.0.0.0:8000 wsgi:app
[Install]
WantedBy=multi-user.target
